<p>
  Hi <%= @user.first_name %>,
</p>

<p>
  The book, <%= @book.title %>, at the <%= @library.library_name %> is now available!
</p>

<p>
  To take this book out, please log on to your Best Library 2018 account <%= link_to "here", new_user_session_url %>.
</p>
