<p>
  Hi <%= @user.first_name %>,
</p>

<p>
  Your book, <%= link_to @book.title, @book %>, is overdue!
</p>

<p>
  To return your book, please log on to your Best Library 2018 account <%= link_to "here", new_session_url %>.
</p>
